функція підстрока(дані, початок, довжина) {
    конст кінець = (початок + довжина);
    умова (кінець > дані.довжина) {
        друк "Помилка: підстрока виходить за межі строки\n";
        вихід;
    }
    мем результат;
    цикл (мем індекс = початок; індекс < кінець; індекс++) {
        результат += дані[індекс];
    }
    вихід результат;
}
мем тест = підстрока("привіт світ", 0, 6);
друк тест + "\n"; // виведе "привіт"