імпорт "functions.txt";

// "asdas" = 1;

конст константа = "const";

друк "константа '" & константа & "' має довжину: " & константа.довжина & "\n";

лем оле[] = 1;
оле[] = 2;
оле[] = 3;

друк "Розмір масиву: " & оле.розмір & "\n";

// вихід;

друк оле[0] & "\n";
друк оле[1] & "\n";
друк оле[2] & "\n";

друк (string) оле & " " & константа & "\n";


умова (2 в оле) {
    друк "пошук в масиві працює\n";
}

умова ((string) оле ~ ".*2.*") {
    друк "перевірка на регулярний вираз працює\n";
}

лем по["asd"]["s"] = 1;

умова (по["asd"]["s"] == 1) {
    друк "доступ до багатовимірного масиву працює\n";
}

умова (додати(22,22) == 44) {
    друк "виклик функції додати працює\n";
}

умова (відняти(22,22) == 0) {
    друк "виклик функції відняти працює\n";
}

умова (відняти(22,2) != 20) {
    друк "виклик функції відняти працює\n";
} або {
    друк "або працює\n";
}

умова (помножити(22,2) == 44) {
    друк "виклик функції помножити працює\n";
}

// тестуємо код
цикл (лем аа = 0; аа < 5; аа++;) {
    друк "цикл працює " & аа & "\n";
}

лем аа = 4;
умова (1 < 2 && аа == 4) {
    друк "умовний оператор працює\n";
}

лем тест = 1;
лем змінна = тест + 1;
умова (змінна == 2) {
    друк "додавання працює\n";
}


умова (додати(тест, 22) == 23) {
    друк "виклик функції працює\n";
}

лем масив = ['val1', 'val2', 'key3' => [['val44', 'val55'], 'val55']];
умова (масив[0] == 'val1' && масив['key3'][0][1] == 'val55') {
    друк "робота з масивами працює\n";
}

функція фест(ф, а = 1) {
    вихід ф + а;
}
умова (фест(4) == 5) {
    друк "параметри по замовчуванню працюють\n";
}

функція врядку(х, рядок) {
    цикл (лем і = 0; і < рядок.довжина; і++) {
        умова (рядок[і] == х) {
            вихід true;
        }
    }
    вихід false;
}

умова (врядку("ч", "чайка")) {
   друк "в рядку\n";
} або {
   друк "не в рядку\n";
}

умова (врядку("і", "чайка")) {
   друк "в рядку\n";
} або {
    друк "не в рядку\n";
}


лем рі = 1, ті, щі = 4;

друк рі & "\n";
друк ті & "\n";
друк щі & "\n";