
функція підстрока(дані, початок, довжина) {
    конст кінець = (початок + довжина);
    умова (кінець > дані.довжина) {
        друк "Помилка: підстрока виходить за межі строки\n";
        вихід;
    }
    мем результат;
    цикл (мем індекс = початок; індекс < кінець; індекс++) {
        результат += дані[індекс];
    }
    вихід результат;
}

друк "мем тест = підстрока(\"привіт світ\", 0, 6);\n";
мем тест = підстрока("привіт світ", 0, 6);
друк "тест = " + тест + "\n"; 

функція розбивка(дані, роздільник) {
    мем результат = [];
    мем частка = "";
    цикл (мем символ: (масив) дані) {
        частка += символ.другий;
        умова (символ.другий == роздільник) {
            результат[] = частка;
            частка = "";
        }
    }
    умова (частка.довжина > 0) {
        результат[] = частка;
    }
    вихід результат;
}

мем частки = розбивка("привіт світ", " ");
друк "\n";
друк "мем частки = розбивка(\"привіт світ\", \" \")\n";
друк "частки[0] = " + частки[0] + "\n"; // надрукує "привіт"
друк "частки[1] = " + частки[1] + "\n"; // надрукує "світ"


функція розворот(дані) {
    мем результат;
    цикл (мем і = дані.довжина - 1; і >= 0; і--) {
        результат += дані[і];
    }
    вихід результат;
}

друк "\n";
друк "розворот(\"!тівс тівирп\") = " 
     + розворот("!тівс тівирп") 
     + "\n"; 


